In [1]:
import pandas as pd

Code to read csv file in Pandas

In [2]:
df = pd.read_csv("used_bikes.csv")

In [3]:
df.head(8)

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
5,Yamaha FZs 150cc,53499.0,Delhi,25000.0,First Owner,6.0,150.0,Yamaha
6,Honda CB Hornet 160R ABS DLX,85000.0,Delhi,8200.0,First Owner,3.0,160.0,Honda
7,Hero Splendor Plus Self Alloy 100cc,45000.0,Delhi,12645.0,First Owner,3.0,100.0,Hero

Getting Information of data types of Columns and Memory usage

In [4]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   149 non-null    object
 1   price       149 non-null    float64
 2   city        149 non-null    object
 3   kms_driven  149 non-null    float64
 4   owner       149 non-null    object
 5   age         149 non-null    float64
 6   power       149 non-null    float64
 7   brand       149 non-null    object
dtypes: float64(4), object(4)
memory usage: 45.0 KB

Change the data type of float columns to int

In [5]:
new_dtype = {   'price':int,
                'kms_driven':int,
                'age': int,
                'power':int  
            }

newdf = df.astype(new_dtype)

In [13]:
newdf.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   149 non-null    object
 1   price       149 non-null    int32
 2   city        149 non-null    object
 3   kms_driven  149 non-null    int32
 4   owner       149 non-null    object
 5   age         149 non-null    int32
 6   power       149 non-null    int32
 7   brand       149 non-null    object
dtypes: int32(4), object(4)
memory usage: 42.6 KB

Inserting the dataframe to mysql using sqlalchemy

In [14]:
from sqlalchemy import create_engine

In [15]:
engine = create_engine('mysql+pymysql://root:password@localhost:3306/neenopal')

In [17]:
newdf.to_sql(con =engine ,name= 'bike_dataset',if_exists= 'replace', index=False) 
# index = False, it will delete the prvious indexing of the dataset
# if exists = will automatically append the upcoming datasets to the sql database

149

Extracting mysql data to dataframe

In [18]:
df1= pd.read_sql_table("bike_dataset",engine)

In [19]:
df1.head(10)

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000,Ahmedabad,17654,First Owner,3,110,TVS
1,Royal Enfield Classic 350cc,119900,Delhi,11000,First Owner,4,350,Royal Enfield
2,Triumph Daytona 675R,600000,Delhi,110,First Owner,8,675,Triumph
3,TVS Apache RTR 180cc,65000,Bangalore,16329,First Owner,4,180,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000,Bangalore,10000,First Owner,3,150,Yamaha
5,Yamaha FZs 150cc,53499,Delhi,25000,First Owner,6,150,Yamaha
6,Honda CB Hornet 160R ABS DLX,85000,Delhi,8200,First Owner,3,160,Honda
7,Hero Splendor Plus Self Alloy 100cc,45000,Delhi,12645,First Owner,3,100,Hero
8,Royal Enfield Thunderbird X 350cc,145000,Bangalore,9190,First Owner,3,350,Royal Enfield
9,Royal Enfield Classic Desert Storm 500cc,88000,Delhi,19000,Second Owner,7,500,Royal Enfield